
.ipynb_checkpoints/

.DS_Store

code/__pycache__/

figures/sanity-checks/ttype-assignment/

code/scikit_clusterings/__pycache__/

code/scikit_clusterings/models/t-SNE/broad/Scala/

code/scikit_clusterings/models/t-SNE/broad/Yao/

code/scikit_clusterings/models/t-SNE/ttypes/Yao/

code/scikit_clusterings/models/t-SNE/ttypes/Scala/

code/scratch_notebooks/
